$profile-picture-size: 20px;

* {
    padding: 0;
    margin: 0;
    font-family:  "Arimo", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;  
} 

p, h1, h2, h3, h4, li, ul, a {
    color: rgb(75, 75, 75);
}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 10px;
}

.nav-left {
    display: flex;
    align-items: center;

    svg {
        padding-right: 10px;
        color: red;
    }

    input {
        box-sizing: border-box;
        width: 200px;
        height: 30px;
        padding: 10px;
    }
}

.nav-right {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        padding: 15px;
    }

    img {
        border-radius: $profile-picture-size;
        height: $profile-picture-size;
        width: $profile-picture-size;
        border: 1,5px solid lightgray;
    }
}
