a, p, h1, h2, h3, h4 {
    color: rgb(75, 75, 75);
    font-family: Arimo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.container {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav__left {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 400px;
}

.nav__left svg {
    color: rgb(75, 75, 75);
    margin-right: 10px;
}

.nav__right {
    display: flex;
}

.nav__right img {
    border-radius: 50%;
    height: 54px;
    width: 54px;
    border: 2px solid #aaa;
}

.nav__right ul {
    display: flex;
    list-style-type: none;
}

.nav__right ul li {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

input {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    padding: 10px;

    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 12px rgba(26, 26, 29, 0.08) ;
}
